
.studentgradesbody{
    margin: 5% 15% 0 40%;
}
.studentGradestable{
    margin-left: 40%;
    width: 20%;
    margin-top: 0;
}
#studentId{

    width: auto;
    margin-bottom: 3%;
    margin-top: 2%;
    margin-right: 2%;
}
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
